@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-col {
  @include flex-center;
  flex-direction: column;
}

@mixin text-shadow {
  text-shadow: 0 0 1rem $dark;
}
@mixin overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  @include flex-center-col;
  backdrop-filter: blur(10px) brightness(55%);
  @include custom-scrollbar;
  &.hide {
    display: none;
  }
}

@mixin custom-scrollbar {
  overflow: overlay;
  &::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 15px;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}