$red: #ff7070;
$orange: #ff9b58;
$yellow: #ffd258;
$green: #4ff38e;
$blue: #81c2ff;
$purple: #9c8bff;
$navy: #475275;
$dark: #33394d;
$darker: #2b3142;
$darkest: #262b3a;
$white: #ffffff;
$grey: #6d6d6d;
$black: #1a1a1a;

$font-theme: "Chewy", cursive;
$font-main: "Jua", sans-serif;
$font-size: 16px;