@import "../styles/global.scss";

.Milk {
  .liquid {
    width: 300vw;
    position: fixed;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 3s;
    animation-timing-function: ease-in-out;
    box-shadow: 0px 0px 1px 0px $white;
    &.one {
      animation: animate1 11s infinite;
      left: -75vw;
      bottom: -100vh;
      opacity: 0.7;
    }
    &.two {
      animation: animate2 13s infinite;
      left: -105vw;
      bottom: -100vh;
      opacity: 0.7;
    }
    &.liquid-white {
      background: linear-gradient($white, transparent);
    }
    &.liquid-red {
      background: linear-gradient($red, $white);
    }
    &.liquid-orange {
      background: linear-gradient($orange, $white);
    }
    &.liquid-yellow {
      background: linear-gradient($yellow, $white);
    }
    &.liquid-green {
      background: linear-gradient($green, $white);
    }
    &.liquid-blue {
      background: linear-gradient($blue, $white);
    }
    &.liquid-purple {
      background: linear-gradient($purple, $white);
    }
    &.liquid-navy {
      background: linear-gradient($navy, $white);
    }
    &.liquid-grey {
      background: linear-gradient($grey, $white);
    }
  }
  @keyframes animate1 {
    0% {
      transform: translate(-55vw, 8px) rotate(-1deg);
    }
    25% {
      transform: translate(-52vw, -8px) rotate(1deg);
    }
    50% {
      transform: translate(-75vw, 8px) rotate(-1deg);
    }
    75% {
      transform: translate(-55vw, -8px) rotate(1deg);
    }
    100% {
      transform: translate(-58vw, 8px) rotate(-1deg);
    }
  }
  @keyframes animate2 {
    0% {
      transform: translate(-54vw, -8px) rotate(1deg);
    }
    25% {
      transform: translate(-51vw, 8px) rotate(-1deg);
    }
    50% {
      transform: translate(-35vw, -8px) rotate(1deg);
    }
    75% {
      transform: translate(-52vw, 8px) rotate(-1deg);
    }
    100% {
      transform: translate(-58vw, -8px) rotate(1deg);
    }
  }
}