@import "../styles/global.scss";

.Settings {
  border: 1px solid white;
  height: 100%;
  width: 100%;
  position: absolute;
  @include flex-center-col;
  backdrop-filter: blur(10px) brightness(75%);
  @include custom-scrollbar;
  @include text-shadow;
  &.hide {
    display: none;
  }
  h2 {
    margin-bottom: 2rem;
  }
  .current {
    margin-bottom: 2rem;
    span.value {
      width: 20rem;
    }
  }
  .page-control,
  .close {
    margin-top: 2rem;
  }
  span.option,
  span.value {
    width: 10rem;
  }
  span.option {
    text-align: right;
    margin-right: 1rem;
  }
}