@import "../styles/global.scss";

.Timer {
  padding: 1.5rem 2rem 0rem 2rem;
  background-color: $dark;
  border-radius: 15px;
  width: 42rem;
  @include flex-center;
  margin-bottom: 0.5rem;
  &:hover {
    cursor: pointer;
    // filter: brightness(120%);
    background-color: $darkest;
  }
  &.enabled {
    background-color: $darkest;
  }
  .minutes,
  .seconds,
  .colon {
    @include flex-center;
  }
  .minutes {
    justify-content: flex-end;
    width: 40%;
  }
  .seconds {
    justify-content: flex-start;
    width: 40%;
  }
  .colon {
    width: 10%;
    margin: 0 0.5rem;
  }
}