@import "./styles/global.scss";

.App {
  font-family: $font-main;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  height: 100vh;
  width: 100vw;

  h1 {
    font-size: 4rem;
  }
}