@import "./styles/global.scss";

.App {
  color: $white;
  height: 100vh;
  width: 100vw;
  min-height: 30rem;
  @include flex-center;
  @include custom-scrollbar;
  header,
  section,
  .About,
  .Help,
  .Settings {
    opacity: 0.95;
    z-index: 1;
  }
  .background {
    position: fixed;
    z-index: 0;
  }
  .About,
  .Help {
    @include overlay;
    h2 {
      margin-bottom: 2rem;
    }
    p,
    span.key {
      border: 2px solid $white;
      border-radius: 10px;
      font-size: 0.9rem;
      font-weight: 500;
      min-width: 1.5rem;
      display: flex;
      @include flex-center;
      padding: 0.1rem 0.25rem 0 0.25rem;
      height: 1.5rem;
      background-color: rgba(255, 255, 255, 0.25);
      text-shadow: 1px 1px 1px $dark;
      box-shadow: 3px 3px 1px $dark;
      margin: 0 0.25rem;
    }
    p {
      padding: 1rem;
      margin: 2rem 0.5rem;
    }
  }
  .About,
  .Help,
  .Settings {
    position: fixed;
    top: 0;
    h2,
    h3,
    h4 {
      @include text-shadow;
    }
  }
  .About {
    h4 {
      margin-top: 0.5rem;
    }
    p {
      display: block;
      height: initial;
      width: initial;
      font-size: 1.3rem;
      margin: 1rem;
    }
  }
  .Help {
    .controls {
      border: 2px solid white;
      border-radius: 5px;
      max-height: 70vh;
      padding: 0.5rem;
      @include custom-scrollbar;
    }
    h2 {
      margin-bottom: 1.5rem;
    }
    h3 {
      margin: 1rem 0 2rem 0;
    }
    h4 {
      font-size: 1.2rem;
      line-height: 2.5rem;
      @include flex-center;
      flex-wrap: nowrap;
    }
    span.option,
    span.value {
      min-width: 16rem;
      display: inline-flex;
      flex-wrap: nowrap;
      // border: 1px solid yellow;
    }
    span.option {
      justify-content: flex-end;
      align-items: center;
      margin-right: 1rem;
      min-width: 11rem;
    }
    span.value {
      justify-content: flex-start;
    }
  }
  header.nav {
    position: absolute;
    top: 0;
    left: 0.5rem;
    @include flex-center;
    h3 {
      // border: 1px solid red;
      margin-right: 1.5rem;
      width: 6rem;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
      &:last-child {
        width: 4rem;
        margin-left: 2rem;
        margin-right: 0;
      }
    }
    @media screen and (max-width: 960px) {
      // left: 20vw
    }
  }
  section.display {
    margin: 3rem 0;
    padding: 3rem 0;
    @include flex-center-col;
    h3.mode {
      font-size: 3rem;
      margin-top: 0.5rem;
      span {
        margin: 0 0.5rem 0.4rem 0.5rem;
      }
    }
    footer {
      height: 6rem;
      cursor: pointer;
      &:hover {
        h3 {
          font-size: 3.2rem;
        }
        h4 {
          font-size: 1.7rem;
        }
      }
    }
  }
  .focus {
    color: $green;
  }
  .chill {
    color: $yellow;
  }
  .bigChill {
    color: $red;
  }
}
.theme-red {
  background-color: $red;
}
.theme-orange {
  background-color: $orange;
}
.theme-yellow {
  background-color: $yellow;
}
.theme-green {
  background-color: $green;
}
.theme-blue {
  background-color: $blue;
}
.theme-purple {
  background-color: $purple;
}
.theme-navy {
  background-color: $navy;
}
.theme-grey {
  background-color: $grey;
}
.font-red {
  color: $red;
}
.font-orange {
  color: $orange;
}
.font-yellow {
  color: $yellow;
}
.font-green {
  color: $green;
}
.font-blue {
  color: $blue;
}
.font-purple {
  color: $purple;
}
.font-navy {
  color: $navy;
}
.font-grey {
  color: $grey;
}