@import "./styles/global.scss";

html {
  font-size: $font-size;
  user-select: none;
}
body {
  margin: 0;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 15rem;
  line-height: 15rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1.5rem;
  text-align: center;
  max-width: 47rem;
  span {
    font-weight: 600;
  }
}
