@import "./styles/global.scss";

html {
  font-size: $font-size;
  user-select: none;
}
body {
  margin: 0;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
h1,
h2,
h3 {
  margin: 0;
  &:hover {
    background-color: $navy;
  }
}
h1 {
  font-size: 15rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
